<div id="flash-messages" class="fixed top-4 right-4 w-80 z-50" data-controller="flash">
  <% flash.each do |type, message| %>
    <% flash_class = case type
       when 'notice' then 'bg-green-100 border-green-400 text-green-700'
       when 'alert' then 'bg-red-100 border-red-400 text-red-700'
       end %>
    <div class="<%= flash_class %> px-4 py-3 pr-10 rounded relative mb-4 opacity-0 transition-all duration-500 ease-in-out transform translate-x-full" role="alert" data-flash-target="message">
      <strong class="font-bold"><%= type.capitalize %>:</strong>
      <span class="block sm:inline"><%= message %></span>
      <button class="absolute top-0 right-0 px-4 py-3" data-action="click->flash#close">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  <% end %>
</div>
