<div class="mt-6">
  <h3 class="text-xl font-medium mb-4"><%= t('order.update_status') %></h3>
  <div class="space-x-2">
    <% if current_user.owner? %>
      <% Order.statuses.keys.each do |status| %>
        <%= button_to status.capitalize, 
                      update_status_order_path(@order, status: status),
                      method: :patch,
                      class: "btn" %>
      <% end %>
    <% else %>
      <%= button_to t('order.cancel_order'), 
                    update_status_order_path(@order, status: 'cancelled'),
                    method: :patch,
                    data: { confirm: t('order.confirm_cancel') },
                    class: "btn hover:bg-red-600" %>
    <% end %>
  </div>
</div>
