<div class="bg-white rounded-lg shadow-md overflow-hidden restaurant-item">
  <%= link_to dashboard_path(restaurant), class: "block p-6 hover:bg-gray-50 transition duration-300" do %>
    <h2 class="text-xl font-semibold text-gray-800 mb-2"><%= restaurant.name %></h2>
    <p class="text-gray-600">View dashboard</p>
  <% end %>
</div>