<%= turbo_frame_tag "new_restaurant" do %>
  <div class="max-w-2xl mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">New Restaurant</h1>

    <%= render 'form', restaurant: @restaurant %>

    <div class="mt-4">
      <%= link_to 'Back', owner_dashboard_index_path, class: "btn bg-gray-500 hover:bg-gray-600 text-white" %>
    </div>
  </div>
<% end %>
