<h2 style="color: #007bff;">Reset Password Instructions</h2>

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p style="margin-top: 20px;">
  <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: "display: inline-block; padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px;" %>
</p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
